# python .pyc file
*.pyc

# Python egg directory created by setup.py
trusona_pizza_client.egg-info/

# jasmine library directory
pizza_client/static/jasmine/

# python virtualenv directory
venv

# Make environment file
.env.mk

# This app's openid connect credentials (created by the register controller)
.oidc-creds.yml

# pytest .cache dir
.cache/

# phantomjs log file
ghostdriver.log
