body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #4A4A4A;
  background-color: #515151;
}
header {
  text-align: center;
}
body div.content {
  background-clip: border-box;
  background-color: #f9f9f9;
  border: 1px solid rgba(3,3,3,.75);
}
body div.content-pad {
  padding: 10px;
}
img.logo {
  margin-top: 26px;
  margin-left: auto;
  margin-bottom: 26px;
  margin-right: auto;
}
div.tab-pane {
  margin: 10px;
}
#toppings,
#pizzas,
#toppings span {
  padding: 10px;
  margin: 5px;
}
#pizzas .card {
  margin: 15px;
}
footer {
  text-align: center;
  color: #9B9B9B;
  margin: 20px;
}
a {
  color: #7b46d1;
}
span.badge-primary, div.badge-primary, .navbar button.btn-primary {
  background-color: #7b46d1;
}
.navbar button.btn-primary,
.navbar button.btn-primary {
  border-width: 0px;
  background-color: #f9f9f9;
  color: #7b46d1;
}
button.btn-primary {
  /* background-color: #7b46d1; */
  border-color: #7b46d1;
  color: #7b46d1;
  border-width: 1px;
  background-color: #f9f9f9;
}
button.btn-primary:hover {
  background-color: #7b46d1;
  border-color: #7b46d1;
  border-width: 1px;
}
.navbar button.btn-primary:hover,
.navbar button.btn-primary.show,
.navbar button.btn-primary:hover,
.navbar button.btn-primary.show,
.navbar .dropdown-menu a:hover,
.btn.btn-secondary:hover,
.show>.btn-primary.dropdown-toggle {
  background-color: #7b46d1;
  border-color: #7b46d1;
  color: #e3e3e3;
}
.navbar button.btn-primary:hover,
.navbar button.btn-primary.show,
.navbar button.btn-primary:hover,
.navbar button.btn-primary.show,
.navbar .dropdown-menu a:hover,
 {
  border-width: 0px;
}
.navbar .nav-link:active,
.navbar .nav-link.active {
  color: #fff;
  background-color: #7b46d1;
}
.navbar .nav-link:hover {
  color: #e3e3e3;
  background-color: #7b46d1;
}
.navbar {
  padding: 0px;
}
.navbar a, .navbar button {
  line-height: 1.5;
  font-size: 15px;
}
.navbar div.container {
  padding: 0px;
}
.container-fluid {
  padding: 0px;
}
ul.nav-tabs, .navbar button {
 border: 0px;
 border-bottom-width: 0px;
}
.nav-tabs .nav-item {
  margin-bottom: 0px;
}
li.nav-item,
.nav-tabs
.nav-link,
.navbar button.btn,
.dropdown-menu {
  border: 0px;
}
.navbar button.btn,
.navbar .dropdown-menu,
.navbar .nav-tabs .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#pizzaClient div.tab-pane {
 margin: 0px;
 padding: 15px;
}
.form-control:focus, .uneditable-input:focus {
  border-color: #7b46d1;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
}

/* Overlay the description field and make it wider */
input#pizza-description {
 margin-left: -1px;
 width: 40%;
}

/* Remove blue ouline from active buttons */
.btn:focus,
.btn:active {
  outline: none !important;
  -webkit-box-shadow: none
}
