{% extends "layout.html" %}
{% block scripts %}
<script src="static/pizzaClient.js"></script>
<script>
  var config = {{ js_config|tojson }};
  /*
   * Create a new pizza client pointing to the pizza server
   */
  client = pizzaClient(config.pizza_server_url);
  $(document).ready(client.onReady.bind(client));

//  $.getJSON('config.json', function(config) {
//    /*
//     * Create a new pizza client pointing to the pizza server
//     */
//    client = pizzaClient(config.pizza_server_url);
//    $(document).ready(client.onReady.bind(client));
//  });
</script>
{% endblock %}
