{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="content col-md-8 offset-md-2 container-fluid">
      <h1>Trusona IdP Registration</h1>
      <form method="POST" action="/register" style="padding-bottom: 15px;">
        <label for="submit">Register this Pizza client with the Trusona IdP</label>
        <button id="submit" type="submit" class="form-control btn btn-primary">Register Now</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
